@import url(signIn.css);

/*********************
/****** Custom CSS*******
********************/

:root {
  /* Color Pallete */
  --color-primary: #b3efb2;
  --color-accent: #34a853;
  --color-bg: #001a23;
  --color-text: #4e6157;
  --color-heading: #31493c;

  /* Spacing */
  --space-xs: 0.5rem; /*for very small spacing ex for econs*/
  --space-sm: 1rem; /*for Default spacing*/
  --space-md: 2rem; /*Sections inner spacing*/
  --space-lg: 4rem; /*Sections outer spacing*/
  --space--xl: 6rem; /*for Hero Section Spacing*/
}
.hr hr {
  display: flex;
  width: 200px;
  border: 1px solid black;
  margin: var(--space-md) auto;
}
/* A Margin (white screen in page) was being created this is a work around to remove that screen */
.footer {
  border: 5px solid var(--color-primary);
}

/*********************
/****** Global Styles*******
********************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 1.2;
  color: var(--color-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  color: var(--color-heading, black);
}
a {
  display: inline-block;
  text-decoration: none;
}
/* *******************
*******Page Layout*****
***********************/
.container {
  width: 100%;
  max-width: 420px;
  margin: var(--space-sm) auto;
}

header .container {
  display: flex;
  justify-content: space-around;
  margin: 20px auto;
}
/* Hero Section */
.hero-section h1 {
  font-size: 2rem;
  width: 70%;
  text-align: center;
}
.hero-section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-section img {
  width: 50%;
}
/* Subscription Section */
.subscriptions .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subscriptions .subscription-type {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding-top: var(--space-md);
}
.subscriptions .subscription-text {
  font-size: 2rem;
  text-align: center;
}

.subscriptions .subscription-type img {
  width: 50px;
}
/* Reviews Section */
.reviews .review-text-heading {
  text-align: center;
}
.reviews .user-reviews {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5.5rem;
}
/* Fantasy Section */
.fantasy-books-audiobooks .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.fantasy-books-audiobooks .fantasy-text {
  text-align: center;
}
.fantasy-books-audiobooks img {
  width: 90%;
}
/* Footer or Footer Menu */
/* Left to make a hamburger button */
.footer .container .footer-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
a {
  display: flex;
}
.footer .apps {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  /* border: 2px solid red; */
}

/*********************
/****** Styles*******
********************/

/* Header Portion */
#ebook-text-header {
  font-weight: 600;
  font-size: 1.5rem;
  align-self: center;
}

/* Hero Section */

.hero-section .hero-subtitle {
  font-weight: 600;
  letter-spacing: 3px;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Section Subscriptions */

/* Section Reviews */

.reviews .review-text-heading {
  padding-bottom: 120px;
  padding-top: 30px;
}
.reviews .individual-review {
  width: 250px;
  height: 250px;
  background-color: var(--color-bg);
  border-radius: 50%;
}

.individual-review img {
  position: relative;
  top: -85px;
}

.reviews .user-review-text {
  position: relative;
  bottom: 80px;
  left: 20px;
  width: 200px;
  text-align: center;
  color: #fff;
  font-size: 1.36rem;
}
/* Fantasy Section */

.fantasy-books-audiobooks .fantasy-text {
  margin-top: 20px;
  padding-bottom: var(--space-sm);
  font-weight: 500;
  font-size: 1.3rem;
}

.fantasy-books-audiobooks .btn-free-trial,
.cancel-text {
  margin-top: var(--space-md);
  font-weight: 400;
}

/* Section Footer or nav */

.footer {
  width: 100%;
  background-color: var(--color-primary);
}

.nav-item {
  padding: 10px;
}
.footer .apps {
  font-size: 1rem;
  font-weight: 600;
}
/* ******** */
/* General Formattings */
/* ************* */
.btn {
  padding: 0.75rem 2rem;
  outline: none;
  border: none;
  background-color: var(--color-primary);
  border-radius: 8px;
  font-size: 1.3rem;
  transform: background-color 2s ease;
  box-shadow: 3px 3px 1px rgba(237, 234, 234, 0.822);
}
.btn:hover {
  cursor: pointer;
  background-color: var(--color-accent);
}
.subscription-text,
.review-text-heading {
  font-size: 2.5rem;
}

/************************************** 
*****Media Queries Responsive Design***
*********************************/

/* For Tablets Range 480px to 768px */
@media screen and (min-width: 480px) {
  .container {
    max-width: 540px;
  }
  header .container {
    justify-content: center;
    gap: 5rem;
  }

  /* Hero Section */
  .hero-section .container {
    width: 100%;
  }
  .hero-section h1 {
    width: 90%;
    text-align: center;
  }
  .hero-section {
    align-items: center;
  }
  .hero-content-wrapper {
    width: 100%;
  }
  .hero-section img {
    width: 60%;
  }
  /* Hero Section */

  /* Suncriptions section */

  /* Reviews Section */
  .reviews .user-reviews {
    gap: 2rem;
  }

  /* Footer or Nav */

  .footer .container .footer-nav {
    display: grid;
    grid-template-columns: 1fr 1fr;

    max-width: 900px;
    margin: 0 auto;
    margin-left: 40px;
  }
}

/* For Small laptops 768px to 1024px */

@media screen and (min-width: 768px) {
  .container {
    max-width: 800px;
  }
  header .container {
    justify-content: space-around;
  }

  /* Hero Section */
  .hero-section .container {
    flex-direction: row;
  }
  .hero-section h1 {
    width: 100%;
    text-align: center;
  }
  /* Hero Section */

  /* Suncriptions section */
  .subscriptions .subscription-type {
    width: 70%;
  }

  /* Reviews Section */
  .reviews .user-reviews {
    gap: 1rem;
  }

  /* Footer or Nav */
}

/* For small laptopns 768px to 1024px and Desktops */
@media screen and (min-width: 1024px) {
  /* Just Remove some unwanted paddings margins in hero section */
  body {
    font-size: 1.3rem;
    line-height: 1.5;
  }
  .container {
    width: 100%;
    max-width: 1000px;
    margin: var(--space-lg) auto;
  }

  header .container {
    margin-top: 50px;
    justify-content: space-between;
    align-items: flex-end;
    border: 5px soid red;
  }

  /* Hero Section */
  .hero-section .container {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    /* border: 3px solid teal; */
  }
  .hero-section h1 {
    width: 100%;
    font-size: 3rem;
  }

  /* Subscriptions Section */

  .subscriptions .container {
    margin-top: 0;
  }
  .subscriptions .container h1 {
    letter-spacing: 5px;
  }

  /* Reviews Section */
  .reviews .user-reviews {
    justify-content: space-between;
  }

  /* Fantasy Section */

  .fantasy-books-audiobooks .fantasy-text {
    font-weight: 800;
    font-size: 1.6rem;
    letter-spacing: 3px;
    word-spacing: 8px;
  }

  /* Footer Section or Nav */

  .footer .container {
    max-width: none;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-items: space-around; */
  }
  .footer .container .footer-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }
}

/*  */

/* ****** *********/
/* Visibility */
/* ************ */

.hidden {
  display: none !important;
  z-index: 0;
}

.transition {
  transition: all 10s ease-in;
}

/* ************************** */
/* Code for Free Trial Modal */
/* ************************ */

.modal-free-trail {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  background-color: #fff;
  gap: 3rem;
  width: 470px;
  max-width: 100%;
  align-items: center;
  /* padding: 20px; */
  border-radius: 6px;
  box-shadow: 5px 5px 30px gray;
  z-index: 10000;
}
.modal-free-trial-head {
  background-color: #929292;
  display: flex;
  gap: 2rem;
  text-align: center;
  font-size: 1.5rem;
  border-radius: 6px;
}
.modal-trial-heading {
  color: #f1f1f1;
}
.modal-free-trial-body {
  padding-left: 30px;
}
.btn-ok {
  margin-bottom: 20px;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.653);
  z-index: 999;
}

.btn-close-free-trial:hover {
  cursor: pointer;
}
